<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.AccountMapper">
	<!-- 계정 활성화 상태값 -->
	<select id="selectAccountState" parameterType="com.gd.lms.vo.Account"
		resultType="String">
		SELECT
			account_state accountState
		FROM account
		WHERE account_id = #{accountId} AND account_pw = PASSWORD(#{accountPw})
	</select>
	<!-- /계정 활성화 상태값 -->
	
	<!-- 로그인 -->
	<select id="selectLogin" parameterType="com.gd.lms.vo.Account"
		resultType="com.gd.lms.vo.Account">
		SELECT
			 account_id accountId
		   , account_level accountLevel
		FROM account
		WHERE account_id = #{accountId} AND account_pw = PASSWORD(#{accountPw})
	</select>
	<!-- /로그인 -->
	
	<!-- 마지막 로그인날짜 업데이트 -->
	<update id="updateLastLoginDate" parameterType="String">
		UPDATE account
		SET last_login_date = NOW()
		WHERE account_id = #{accountId}
	</update>
	<!-- /마지막 로그인날짜 업데이트 -->
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.gd.lms.vo.Member">
		<!-- 행정테이블에 추가 -->
		<if test="'manager'.equals(memberCheck)">
			INSERT INTO manager
		</if>
		<!-- 강사테이블에 추가 -->
		<if test="'teacher'.equals(memberCheck)">
			INSERT INTO teacher
		</if>
		<!-- 학생테이블에 추가 -->
		<if test="'student'.equals(memberCheck)">
			INSERT INTO student
		</if>
			VALUES(
			  #{accountId}
			, #{memberName}
			, #{memberGender}
			, #{memberBirth}
			, #{memberEmail}
			, #{memberAddress}
			, #{memberDetailAddress}
			, #{memberPhone}
		<if test="'manager'.equals(memberCheck)">
			, #{memberDept}
		</if>
		<if test="'student'.equals(memberCheck)">
			, #{memberGraduate}
			, #{memberMajor}
			, #{memberMilitary}
		</if>
			, NOW()
			, NOW()
		)
	</insert>
	<!-- /회원가입 -->
	
	<!--  account 테이블에 추가 -->
	<insert id="insertAccount" parameterType="com.gd.lms.vo.Member">
		INSERT INTO account
		VALUES(
		  #{accountId}
		, PASSWORD(#{accountPw})
		, '대기'
		, #{accountLevel}
		, NOW()
		, NOW()
		, NOW()
		)
	</insert>
	<!--  /account 테이블에 추가 -->
	
	<!-- 아이디 중복체크 -->
	<select id="selectAccountIdCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM account
		WHERE account_id = #{idck}
	</select>
	<!-- /아이디 중복체크 -->
	
	<!-- 이메일 중복체크 / student -->
	<select id="selectStudentEmailCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
			FROM student
			WHERE student_email=#{email}
	</select>
	<!-- /이메일 중복체크 / student -->	
	
	<!-- 이메일 중복체크 / teacher -->
	<select id="selectTeacherEmailCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
			FROM teacher
			WHERE teacher_email=#{email}
	</select>
	<!-- /이메일 중복체크 / teacher -->	
	
	<!-- 이메일 중복체크 / manager -->
	<select id="selectManagerEmailCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
			FROM manager
			WHERE manager_email=#{email}
	</select>
	<!-- /이메일 중복체크 / manager -->
</mapper>