<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.AdminMapper">
	
	
	<!-- 총관리자 개인정보 상세보기 -->
	<select id="selectAdminOne" parameterType="String" resultType="com.gd.lms.vo.Admin">
		SELECT
			  account_id accountId
			, admin_name adminName
			, admin_email adminEmail
			, admin_phone adminPhone
			, create_date createDate
		FROM admin
		WHERE account_id = #{accountId}
	</select>
	<!-- /총관리자 개인정보 상세보기 -->

</mapper>