<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.AttendanceMapper">
	
	<!-- 각 강사별 현재 수강중인 강의명 -->
	<select id="selectLectureNameByTeacher" parameterType="map" resultType="String">
		Select lecture_name lectureName
		FROM lecture
		WHERE teacher_name = #{accountId} AND lecture_state = '수강'
	</select>
	
	<!-- /각 강사별 현재 수강중인 강의명 -->
	<!-- 강사별 현재 강의의 학생명, 출결, 출결사유 , 출결날짜 뽑아오기 -->
	<select id="">
	
	</select>
	<!-- 강사별 현재 강의의 학생명, 출결, 출결사유 , 출결날짜 뽑아오기 -->
</mapper>