<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ExamAnswerMapper">
	<!-- 학생이 답안지를 제출할 경우 -->
	<insert id="insertExamAnswer" parameterType="Map">
		INSERT INTO exam_answer 
		(exam_question_index, education_no, exam_answer_content, create_date) 
		VALUES 
		(#{examQuestionIndex}, #{educationNo}, #{examAnswerContent}, NOW())
	</insert>
	
	<!-- 답지 -->
	<select id="selectAnswerList" parameterType="int" resultType="Map">
		SELECT eq.exam_question_no examQuestionNo, m.question_answer questionAnswer
		FROM exam_question eq
		INNER JOIN multiplechoice m
		USING(question_no)
		WHERE eq.question_type='객관식' AND eq.exam_no = #{examNo}
		UNION
		SELECT eq.exam_question_no examQuestionNo, s.question_answer questionAnswer
		FROM exam_question eq
		INNER JOIN short_answer_question s
		USING(question_no)
		WHERE eq.question_type='단답형' AND eq.exam_no = #{examNo}
	</select>
	
	<!-- 제출한 답안이 정답일 경우 정답으로 업데이트 -->
	<update id="updateExamAnswerState" parameterType="Map">
	UPDATE exam_answer
	SET exam_answer_state='O'
	WHERE exam_question_index =#{examQuestionIndex} AND education_no=#{educationNo}
	</update>
	
	<!-- 시험결과 -->
	<select id="selectResultExam" parameterType="Map" resultType="Map">
	SELECT 
		ea.exam_question_index examQuestionIndex
		, m.question_answer questionAnswer
		, ea.exam_answer_content examAnswerContent
		, ea.exam_answer_state examAnswerState
	FROM exam_question eq
	INNER JOIN exam_answer ea
	USING (exam_question_index)
	INNER JOIN multiplechoice m
	USING (question_no)
	WHERE ea.education_no=#{educationNo} AND eq.exam_no=#{examNo} AND eq.question_type='객관식'
	UNION
	SELECT 
		ea.exam_question_index examQuestionIndex
		, s.question_answer questionAnswer
		, ea.exam_answer_content examAnswerContent
		, ea.exam_answer_state examAnswerState
	FROM exam_question eq
	INNER JOIN exam_answer ea
	USING (exam_question_index)
	INNER JOIN short_answer_question s
	USING (question_no)
	WHERE ea.education_no=#{educationNo} AND eq.exam_no=#{examNo} AND eq.question_type='단답형'
	</select>
</mapper>