<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ExamSubmitMapper">
<!-- 시험이력 추가 -->
<insert id="insertExamSubmitCK" parameterType="int">
	INSERT INTO exam_submit (education_no, exam_no, create_date) VALUES (#{educationNo}, #{examNo}, NOW())
</insert>
</mapper>