<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ExamQuestionMapper">
	<!-- 시험지 속 문제 정보 할당하는 메소드 -->
	<insert id="insertExamQuestion" parameterType="Map">
		INSERT INTO exam_question (exam_no, exam_question_no, question_no, question_type) VALUES (#{examNo}, #{examQuestionNo}, #{questionNo}, #{questionType}) 
	</insert>
	
	<!-- exam_question 테이블에 multiplechoice의 문제가 들어가 있는지 확인하는 메소드 -->
	<select id="selectCountExamQuestion" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM exam_question 
		WHERE question_type='객관식' AND question_no= #{questionNo}
	</select>
</mapper>