<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ExamMapper">
	<!-- 시험 추가하기 -->
	<insert id="insertExam" parameterType="com.gd.lms.vo.Exam">
		INSERT INTO exam 
		(subject_name
		, exam_title
		, exam_content
		, exam_start_date
		, exam_end_date
		, update_date
		, create_date
		) VALUES (
		#{subjectName}
		, #{examTitle}
		, #{examContent}
		, #{examStartDate}
		, #{examEndDate}
		, NOW()
		, NOW())
		<selectKey resultType="int" keyProperty="examNo" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 선택된 lecture의 시험 리스트 가져오기 -->
	<select id="selectExamListByLecture" parameterType="String" resultType="Map">
		SELECT 
			e.exam_no examNo
			, ls.lecture_name lectureName
			, e.subject_name subjectName
			, e.exam_title examTitle
			, e.exam_start_date examStartDate
			, e.exam_end_date examEndDate
		FROM exam e
		INNER JOIN lecture_subject ls
		USING(subject_name)
		WHERE ls.lecture_name=#{lectureName}
		ORDER BY exam_start_date DESC
	</select>
	
	<!-- 학생 아이디에 따른 시험 목록 가져오기 -->
	<select id="selectExamListForStudentByAccountId" parameterType="String" resultType="Map">
		SELECT 
			z.account_id accountId
			, z.education_no educationNo
			, z.lecture_name lectureName
			, e.exam_no examNo
			, e.subject_name subjectName
			, e.exam_title examTitle
			, e.exam_content examContent
			, e.exam_start_date examStartDate
			, e.exam_end_date examEndDate
			, (SELECT COUNT(*) FROM exam_submit WHERE education_no= z.education_no AND exam_no = e.exam_no) submitCk
		FROM exam e
		INNER JOIN (
			SELECT t.account_id, t.lecture_name, t.education_no, ls.subject_name
			FROM lecture_subject ls
			INNER JOIN (
				SELECT e.account_id, e.education_no, l.lecture_name 
				FROM education e
				INNER JOIN lecture l
					USING(lecture_name)
					WHERE e.account_id='student' AND e.education_state='수강중'
			)t
			USING(lecture_name)
		)z
		USING(subject_name)
		WHERE 
		 <![CDATA[
      	 e.exam_start_date <= CURDATE() AND CURDATE() <= e.exam_end_date
        ]]>
        ORDER BY e.exam_end_date DESC
	</select>
</mapper>