<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">
	<!-- accountId에 따라   -->
	<select id="selectlectureListByTeacher" parameterType="String" resultType="com.gd.lms.vo.Lecture">
		SELECT l.lecture_name lectureName
		FROM lecture l
		INNER JOIN
		teacher t
		USING(teacher_name)
		WHERE t.account_id =#{accountId}
	</select>
	<select id="selectlectureListByManager" resultType="com.gd.lms.vo.Lecture">
		SELECT lecture_name lectureName 
		FROM lecture 
		WHERE lecture_active='개설승인'
	</select>
	<!-- 강좌상세리스트 -->
	<select id="selectLectureDetailList" resultType="Map">
		SELECT 
			lecture_name lectureName
			, teacher_name teacherName
			, manager_name managerName
			, lecture_room_name lectureRoomName
			, lecture_start_date lectureStartDate
			, lecture_end_date lectureEndDate
			, lecture_active lectureActive
			, lecture_state lectureState
			, create_date updateDate
			, update_date createDate
		FROM lecture
		ORDER BY lecture_end_date DESC
	</select>
	<!-- lectureOne -->
	<select id="selectLectureOne" parameterType="String" resultType="Map">
		SELECT 
				lecture_name lectureName
				, teacher_name teacherName
				, manager_name managerName
				, lecture_room_name lectureRoomName
				, lecture_start_date lectureStartDate
				, lecture_end_date lectureEndDate
				, lecture_active lectureActive
				, lecture_state lectureState
				, create_date updateDate
				, update_date createDate
		FROM lecture
		WHERE lecture_name = #{lectureName}
	</select>
	<!-- 강사가 담당하는 해당 강의 수강생 리스트 받아오기 -->
	<select id="selectStudentBookListByTeacher" parameterType="Map" resultType="Map">
	SELECT 
		w.account_id teacherId
		, w.teacher_name teacherName
		, w.lecture_name lectureName
		, w.education_no educationNo
		, w.studentId studentId
		, s.student_name studentName
	FROM student s
	INNER JOIN(
		SELECT e.education_no, e.account_id studentId, z.*
		FROM education e
		INNER JOIN(
			SELECT l.lecture_name, t.account_id, t.teacher_name
			FROM lecture l
			INNER JOIN (
				SELECT account_id, teacher_name
				FROM teacher
				WHERE account_id =#{accountId})t
			ON l.teacher_name=t.teacher_name
			WHERE l.lecture_name = #{lectureName}
		)z
		ON e.lecture_name = z.lecture_name
	)w
	ON s.account_id =w.studentId
	ORDER BY binary(s.student_name) ASC
	</select>

	<!-- 각 클래스 학생들 수강생 리스트 받아오기 -->
	<select id="selectStudentBookListByManager" parameterType="String" resultType="Map">
	SELECT 
		w.education_no educationNo
		, s.student_name studentName
		, w.lecture_name lectureName
		, w.studentId studentId
		, w.teacher_name teacherName
	FROM student s
	INNER JOIN (
			SELECT e.education_no, e.lecture_name, e.account_id studentId, z.teacher_name
			FROM education e
			INNER JOIN(
				SELECT l.lecture_name, l.teacher_name
				FROM lecture l
				WHERE lecture_name=#{lectureName}
			)z
			ON e.lecture_name = z.lecture_name 
		)w
	ON s.account_id = w.studentId
	ORDER BY w.education_no ASC
	</select>
	
</mapper>