<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">
	<!-- accountId에 따라   -->
	<select id="selectlectureListByTeacher" parameterType="String" resultType="com.gd.lms.vo.Lecture">
		SELECT l.lecture_name lectureName
		FROM lecture l
		INNER JOIN
		teacher t
		USING(teacher_name)
		WHERE t.account_id =#{accountId}
	</select>
	<select id="selectlectureListByManager" resultType="com.gd.lms.vo.Lecture">
		SELECT lecture_name lectureName 
		FROM lecture 
		WHERE lecture_active='개설승인'
	</select>
</mapper>