<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.MultiplechoiceExampleMapper">
	<!-- 객관식 문제 보기 추가 -->
	<insert id="insertMultiplechoiceExample"
		parameterType="com.gd.lms.vo.MultiplechoiceExample">
		INSERT INTO multiplechoice_example 
		(question_no, multiplechoice_example_id, multiplechoice_example_content, update_date, create_date) 
		VALUES 
		(#{questionNo}, #{multiplechoiceExampleId}, #{multiplechoiceExampleContent}, NOW(), NOW())
	</insert>
	
	<!-- 객관식 문제 보기 리스트  -->
	<select id="selectMultiplechoiceExampleList" parameterType="int" resultType="com.gd.lms.vo.MultiplechoiceExample">
		SELECT 
			question_no questionNo
			,multiplechoice_example_id multiplechoiceExampleId
			, multiplechoice_example_content multiplechoiceExampleContent
			,update_date updateDate
			,create_date createDate
			FROM multiplechoice_example
			WHERE question_no = #{questionNo} 
			ORDER BY multiplechoice_example_id ASC
	</select>
	
	<!-- 지문 보기 수정하기  -->
	<update id="updateMultiplechoiceExample" parameterType="com.gd.lms.vo.MultiplechoiceExample">
		UPDATE multiplechoice_example
			SET multiplechoice_example_content = #{multiplechoiceExampleContent}, update_date =NOW()
		WHERE question_no = #{questionNo} AND multiplechoice_example_id =#{multiplechoiceExampleId}
	</update>
</mapper>