<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.NoticeFileMapper">

	<!-- 공지글 파일 불러오기(다운로드) -->
	<select id="selectNoticeFile" parameterType="int" resultType="com.gd.lms.vo.NoticeFile">
	SELECT 
			notice_file_no 			noticeFileNo,
			notice_no 				noticeNo,
			notice_file_name 		noticeFileName,
			notice_file_origin_name noticeFileOriginName,
			notice_file_type		noticeFileType,
			notice_file_size		noticefileSize,
			create_date				createDate
	FROM	notice_file
	WHERE 	notice_file_no=#{noticeNo}
	</select>
	
	<!-- 공지글 파일 첨부 -->
	<insert id="insertNoticeFile" parameterType="com.gd.lms.vo.NoticeFile">
	INSERT INTO notice_file(
		notice_file_no
		notice_no,
		account_id,
		notice_file_name,
		notice_file_origin_name,
		notice_file_type,
		notice_file_size,
		create_date
	) VALUES (
		#{noticeFileNo}
		#{noticeNo}, 
		#{accountId}, 
		#{noticeFileName}, 
		#{noticeFileOriginName}, 
		#{noticeFileType}, 
		#{noticeFileSize}, 
		NOW())
	</insert>
	
	<!-- 게시글 하나에 들어가 있는 첨부파일 리스트 -->
	<select id="selectNoticeFileList" parameterType="int" resultType="String">
	SELECT 	notice_file_name noticeFileName
	FROM 	notic_file
	WHERE 	notice_no = #{noticeNo}
	</select>

	<!-- 공지글 파일 삭제 -->
	<delete id="deleteNoticeFile" parameterType="int" >
	DELETE FROM noticeFile 
	WHERE notice_no = #{noticeNo}
	</delete>
</mapper>