<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.NoticeMapper">
	
	<!--  공지사항 리스트 조회 -->
	<select id="selectNoticeList" resultType="map">
		SELECT 
				notice_no noticeNo, 
				account_id accountId, 
				notice_title noticeTitle, 
				notice_content noticeContent, 
				notice_count noticeCount, 
				create_date createDate, 
				update_date updateDate
		FROM 	notice
		ORDER BY create_date DESC
	</select>

	<!-- 공지사항 신규 작성 -->
	<insert id="insertNotice" parameterType="com.gd.lms.vo.Notice">
		INSERT INTO notice(		
					account_id, 
					notice_title, 
					notice_content, 
					notice_count, 
					create_date, 
					update_date
		) VALUES(				
					#{accountId}, 
					#{noticeTitle}, 
					#{noticeContent}, 
					#{noticeCount}, 
					NOW(), 
					NOW())
	</insert>
	
	<!-- 전체 공지글 갯수 -->
	<select id="selectTotalNotice" parameterType="int">
		SELECT count(*) From notice
	</select>
	
	<!-- 공지사항 조회수 반영 -->
	<update id="updateNoticeCount" parameterType="com.gd.lms.vo.Notice">
		UPDATE	lms_notice
		SET		lms_notice_count = #{noticeCount}+1
		WHERE	lms_notice_no = #{noticeNo}
	</update>
	
	<!-- 공지사항 상세보기 -->
	<select id="selectNoticeOne" parameterType="int" resultType="com.gd.lms.vo.Notice">
		SELECT 
			notice_no noticeNo,
			account_id accountId,
			notice_title noticeTitle,
			notice_content noticeContent,
			create_date createDate,
			update_date updateDate,
		FROM	notice
		WHERE	notice_no = #{noticeNo}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.gd.lms.vo.Notice">
		UPDATE notice
		SET
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			update_date = now()
		WHERE
			notice_no = #{noticeNo}
	</update>
	
	
	
	
	<!-- 공지사항 삭제 -->
</mapper>