<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.QnaMapper">
	<!-- 리스트 불러오기 -->
	<!-- 조회수 적용할지? -->
	<select id="selectQnaList" resultType="map">
	SELECT 
				qna_question_no 		qnaNo,
				qna_question_title 		qnaTitle, 
				account_id 				accountId, 
				qna_disclosure 			qnaQuestionDisclosure,
				qna_state				qnaQuestionState,
				create_date 			createDate,
				update_date				updateDate
	FROM 		qna_question
	ORDER BY 	create_date DESC
	</select>

	<!-- Qna 질문 상세보기 -->
	<select id="selectQnaQuestionOne" parameterType="int" resultType="com.gd.lms.vo.QnaQuestion">
	SELECT
		qna_question_no 		qnaQuestionNo,
		qna_question_title 		qnaQuestionTitle, 
		qna_question_content 	qnaQuestionContent, 
		account_id 				accountId, 
		qna_disclosure 			qnaQuestionDisclosure,
		qna_state				qnaQuestionState,
		create_date 			createDate,
		update_date				updateDate
	FROM	qna_question
	WHERE qna_question_no = ${qnaNo}
	</select>

	<!-- Qna 답변 상세보기 -->
	<select id="selectQnaAnswerOne" parameterType="int" resultType="com.gd.lms.vo.QnaAnswer">
	SELECT
		qna_answer_no 			qnaAnswerNo,
		qna_answer_title		qnaAnswerTitle,
		qna_answer_content 		qnaAnswerContent, 
		account_id 				accountId,
		create_date 			createDate,
		update_date				updateDate
	FROM	qna_answer
	WHERE qna_answer_no = ${qnaNo}
	</select>

	<!-- 질문 신규 작성 액션 -->
	<insert id="insertQnaQuestion" parameterType="com.gd.lms.vo.QnaQuestion">
	INSERT INTO qna_question(	 
					qna_question_title, 
					qna_question_content, 
					account_id, 
					create_date, 
					update_date
	) VALUES(			
					#{qnaQuestionTitle},	 
					#{qnaQuestionContent}, 
					#{accountId}, 
					NOW(), 
					NOW())
	</insert>

	<!-- 답변 신규 작성 액션 -->
	<insert id="insertQnaAnswer" parameterType="com.gd.lms.vo.QnaAnswer">
	INSERT INTO qna_answer(	 
					qna_answer_no
					qna_answer_title, 
					qna_answer_content, 
					account_id, 
					create_date, 
					update_date
	) VALUES(			
					#{qnaNo}
					#{qnaAnswerTitle},	 
					#{qnaAnswerContent}, 
					#{accountId}, 
					NOW(), 
					NOW())
	</insert>
	
	<!-- 상태값 답변완료 처리 -->
	<update id="updateQnaState" parameterType="int">
		UPDATE qna_question 
		SET
			qna_state = '답변완료'
		WHERE
			qna_question_no = #{qnaNo}
	</update>
	
	<!-- 상태값 대기중 처리 -->
	<update id="updateQnaStateBack" parameterType="int">
		UPDATE qna_question 
		SET
			qna_state = '대기중'
		WHERE
			qna_question_no = #{qnaNo}
	</update>

	<!-- 질문 삭제 -->
	<delete id="deleteQnaQuestion" parameterType="int">
	DELETE FROM qna_question 
	WHERE qna_question_no = #{qnaNo}
	</delete>
	
	<!-- 답변 삭제 -->
	<delete id="deleteQnaAnswer" parameterType="int">
	DELETE FROM qna_answer 
	WHERE qna_answer_no = #{qnaNo}
	</delete>

	<!-- 질문 수정 폼 -->
	<select id="updateQnaQuestionForm" resultType="com.gd.lms.vo.QnaQuestion" parameterType="int">
	SELECT	qna_question_no qnaQuestionNo,
			qna_question_title qnaQuestionTitle,
			qna_question_content qnaQuestionContent
	FROM 	qna_question 
	WHERE 	qna_question_no = #{qnaNo};
	</select>
	
	<!-- 질문 수정 액션 -->
	<update id="updateQnaQuestion" parameterType="com.gd.lms.vo.QnaQuestion">
	UPDATE qna_question
		SET
			qna_question_title = #{qnaQuestionTitle},
			qna_question_content = #{qnaQuestionContent},
			update_date = now()
		WHERE
			qna_question_no = #{qnaNo}
	</update>

	<!-- 답변 수정 폼 -->
	<select id="updateQnaAnswerForm" resultType="com.gd.lms.vo.QnaAnswer" parameterType="int">
	SELECT	qna_answer_no qnaAnswerNo,
			qna_answer_title qnaAnswerTitle,
			qna_answer_content qnaAnswerContent
	FROM 	qna_answer 
	WHERE 	qna_answer_no = #{qnaNo};
	</select>
	
	<!-- 답변 수정 액션 -->
	<update id="updateQnaAnswer" parameterType="com.gd.lms.vo.QnaAnswer">
	UPDATE qna_answer 
		SET
			qna_answer_title = #{qnaAnswerTitle},
			qna_answer_content = #{qnaAnswerContent},
			update_date = now()
		WHERE
			qna_answer_no = #{qnaNo}
	</update>

















</mapper>