<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ReportMapper">

	<!-- 전체 과제 리스트 조회하기 -->
	<select id="selectReportList" resultType="com.gd.lms.vo.Report">
		SELECT
		report_no
		reportNo
		, subject_name subjectName
		, report_title reportTitle
		, report_content reportContent
		, report_start_date reportStartDate
		, report_end_date reportEndDate
		, update_date updateDate
		, create_date createDate
		FROM report
		ORDER BY
		create_date DESC
	</select>
	<!-- 전체 과제 리스트 조회하기 -->

	<!-- reportNo와 관련된 subjectName 가져오기 -->
	<select id="selectLectureSubject" resultType="List" parameterType="int">
		SELECT report_no reportNo
		, subject_name subjectName
		, report_title reportTitle
		, report_content reportContent
		, report_start_date reportStartDate
		, report_end_date reportEndDate
		, update_date updateDate
		, create_date createDate
		FROM report
		WHERE report_no =
		(SELECT report_no FROM
		report_submit WHERE report_submit_no= #{reportNo});
	</select>
	<!-- lectureSubject의 subjectName 가져오기 -->

	<!-- 과제 출제하기 -->
	<insert id="insertReport" parameterType="com.gd.lms.vo.Report">
		INSERT INTO
		report(
		subject_name, report_title, report_content, report_start_date,
		report_end_date, update_date, create_date)
		VALUES (#{subjectName},
		#{reportTitle}, #{reportContent},
		#{reportStartDate},#{reportEndDate},now(),now())
	</insert>
	<!-- 과제 출제하기 -->

	<!-- 출제한 과제 수정하기 form -->
	<select id="selectReportOne" resultType="com.gd.lms.vo.Report"
		parameterType="int">
		SELECT report_no reportNo, subject_name subjectName,
		report_title reportTitle,
		report_content reportContent,
		report_start_date reportStartDate, report_end_date reportEndDate,
		update_date
		updateDate, create_date createDate
		FROM report WHERE
		report_no = #{reportNo}
	</select>
	<!-- 출제한 과제 수정하기 form -->

	<!-- 출제한 과제 수정하기 -->
	<update id="updateReport" parameterType="com.gd.lms.vo.Report">
		UPDATE report SET
		report_title = #{reportTitle}, report_content = #{reportContent},
		report_start_date = #{reportStartDate}, report_end_date =
		#{reportEndDate}, update_date = now()
		WHERE report_no = #{reportNo}
	</update>
	<!-- 출제한 과제 수정하기 -->

	<!-- 행정용 출제한 과제 삭제하기 -->
	<delete id="deleteReport" parameterType="int">
		DELETE FROM report WHERE
		report_no = #{reportNo}
	</delete>
	<!-- 행정용 출제한 과제 삭제하기 -->

</mapper>