<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ReportSumbitFileMapper">
	<!-- 과제 제출 첨부파일 업로드 메소드 -->
	<insert id="insertReportSubmitFile"
		parameterType="com.gd.lms.vo.ReportSubmitFile">
		INSERT INTO report_submit_file (
		report_submit_no,
		report_submit_filename,
		report_submit_origin_name,
		report_submit_file_type,
		report_submit_file_size, create_date)
		VALUES(
		#{reportSubmitNo},
		#{reportSubmitFilename},
		#{reportSubmitOriginName},
		#{reportSubmitFileType},
		#{reportSubmitFileSize}, now() )
	</insert>
	<!-- 과제 제출 첨부파일 업로드 메소드 -->

	<!-- 제출 과제별 첨부파일 상세 조회하기 메소드 -->
	<select id="selectReportsubmitFile" parameterType="int" resultType="com.gd.lms.vo.ReportSubmitFile">
		select
		report_submit_no reportSubmitNo,
		report_submit_filename
		reportSubmitFilename,
		report_submit_origin_name reportSubmitOriginName,
		report_submit_file_type reportSubmitType,
		report_submit_file_size
		reportSubmitSize,
		create_date createDate
		FROM report_submit_file WHERE
		report_submit_no = #{reportSubmitNo}
	</select>
	<!-- 제출 과제별 첨부파일 상세 조회하기 메소드 -->
</mapper>