<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ReportSubmitMapper">

	<!-- 학생별 제출한 과제 리스트 조회 메소드 -->
	<select id="selectReportListById" parameterType="Map"
		resultType="com.gd.lms.vo.ReportSubmit">
		SELECT
		report_submit_no reportSubmitNo,
		education_no
		educationNo,
		account_id accountId,
		report_no reporNo,
		report_submit_title reportSubmitTitle,
		report_submit_content
		reportSubmitContent,
		report_submit_score reportSubmitScore,
		create_date
		createDate
		FROM report_submit
		WHERE account_id = #{accountId}
	</select>
	<!-- 학생별 제출한 과제 리스트 조회 메소드 -->

	<!-- 제출한 과제 리스트 조회 메소드 -->
	<select id="selectReportListBySubject" parameterType="Map"
		resultType="com.gd.lms.vo.ReportSubmit">
		SELECT
		report_submit_no reportSubmitNo,
		education_no
		educationNo,
		account_id accountId,
		report_no reporNo,
		report_submit_title reportSubmitTitle,
		report_submit_content
		reportSubmitContent,
		report_submit_score reportSubmitScore,
		create_date
		createDate
		FROM report_submit
		ORder bY report_no DESC
	</select>
	<!-- 강좌별 제출한 과제 리스트 조회 메소드 -->

	<!-- 과제 제출하기 메소드 -->
	<insert id="insertReportSubmit"
		parameterType="com.gd.lms.vo.ReportSubmit">
		INSERT INTO
		report_submit (
		report_no,
		education_no,
		account_id,
		report_submit_title,
		report_submit_content,
		report_submit_score,update_date, create_date)
		VALUES (
		#{reportNo}
		,#{educationNo}
		,#{accountId}
		,#{reportSubmitTitle}
		,#{reportSubmitContent}
		,'F',
		NOW(),NOW())
	</insert>
	<!-- 과제 제출하기 메소드 -->

	<!-- 제출한 과제 수정하기 Form -->
	<select id="ReportSubmitOne" parameterType="int"
		resultType="com.gd.lms.vo.ReportSubmit">
		SELECT report_submit_no reportSubmitNo,education_no
		educationNo, report_no reportNo,
		account_id
		accountId,report_submit_title reportSubmitTitle,
		report_submit_content
		reportSubmitContent ,report_submit_score reportSubmitSCore,
		update_date updateDate, create_date createDate
		FROM report_submit
		WHERE
		report_submit_no = #{reportSubmitNo}
	</select>
	<!-- 제출한 과제 수정하기 Form -->

	<!-- 제출한 과제 수정하기 Action -->
	<update id="updateReportSubmit"
		parameterType="com.gd.lms.vo.ReportSubmit">
		UPDATE report_submit
		SET report_submit_title =
		#{reportSubmitTitle},
		report_submit_content = #{reportSubmitContent},
		update_date= now()
		WHERE
		report_submit_no = #{reportSubmitNo}
	</update>
	<!-- 제출한 과제 수정하기 Action -->

	<!-- 제출한 과제 점수 수정하기 -->
	<update id="updateReportScore" parameterType="int">
		UPDATE
		report_submit
		SET report_submit_score = #{reportSubmitScore},
		update_date = now()
		where
		report_submit_no = #{reportSubmitNo}
	</update>
	<!-- 제출한 과제 점수 수정하기 -->

	<!-- 제출한 과제 삭제하기 -->
	<delete id="deleteReportSubmit" parameterType="int">
		DELETE FROM
		report_submit WHERE report_submit_no = #{reportNo}
	</delete>
	<!-- 제출한 과제 삭제하기 -->
</mapper>