<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ReportSubmitFileMapper">
	<!-- 과제 제출 첨부파일 업로드 메소드 -->
	<insert id="insertReportSubmitFile"
		parameterType="com.gd.lms.vo.ReportSubmitFile">
		INSERT INTO report_submit_file (
			report_submit_no,
			report_submit_filename,
			report_submit_origin_name,
			report_submit_file_type,
			report_submit_file_size, create_date)
		VALUES(
			#{reportSubmitNo},
			#{reportSubmitFilename},
			#{reportSubmitOriginName},
			#{reportSubmitFileType},
			#{reportSubmitFileSize}, now() )
	</insert>
	<!-- 과제 제출 첨부파일 업로드 메소드 -->

	<!-- 제출 과제별 첨부파일 상세 조회하기 메소드 -->
	<select id="selectReportSubmitFile" parameterType="int"
		resultType="com.gd.lms.vo.ReportSubmitFile">
		SELECT
			report_submit_file_no reportSubmitFileNo,
			report_submit_no reportSubmitNo,
			report_submit_filename
			reportSubmitFilename,
			report_submit_origin_name reportSubmitOriginName,
			report_submit_file_type reportSubmitType,
			report_submit_file_size
			reportSubmitSize,
			create_date createDate
		FROM report_submit_file
		WHERE report_submit_no = #{reportSubmitNo}
	</select>
	<!-- 제출 과제별 첨부파일 상세 조회하기 메소드 -->

	<!-- 제출한 첨부파일 수정 메소드 -->
	<update id="updateReportSubmitFile" parameterType="int">
		UPDATE report_submit_file SET
			report_submit_filename = #{reportSubmitFilename},
			report_submit_origin_name = #{reportSubmitOriginName}
		WHERE report_submit_file_no = #{reportSubmitNo}
	</update>
	<!-- 제출한 첨부파일 삭제 메소드 -->

	<!-- 제출한 첨부파일 삭제 메소드 -->
	<delete id="deleteReportSubmitFile" parameterType="int">
		DELETE FROM
			report_submit_file
		WHERE report_submit_no= #{reportSubmitNo}
	</delete>
	<!-- 제출한 첨부파일 삭제 메소드 -->
</mapper>