<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ShortAnswerQuestionMapper">
	<select id="getShortAnswerQuestionListByRandom" parameterType="Map" resultType="Map">
		SELECT 
			subject_name subjectName
			, question_no questionNo
			, question_title questionTitle
			, question_answer questionAnswer
		FROM short_answer_question 
		WHERE subject_name = #{subjectName} 
		ORDER BY RAND() LIMIT #{shortAnswerCnt}
	</select>
	
	<!-- 특정과목과 관련된 단답형 문제 리스트. 단, 검색어가 null 또는 공백일 경우 WHERE 절이 없음 -->
	<select id="selectShortAnswerQuestionList" parameterType="String" resultType="Map">
		SELECT 
			subject_name subjectName
			, question_no questionNo
			, question_title questionTitle
			, question_answer questionAnswer
			, update_date updateDate
			, create_date createDate 
		FROM short_answer_question
		<if test="value != null and !value.equals('')">
			WHERE subject_name = #{value} 
		</if>
		ORDER BY create_date DESC
	</select>
	
	<!-- 단답형 문제 문제은행에 추가하기 -->
	<insert id="insertShortAnswerQuestionOne" parameterType="com.gd.lms.vo.ShortAnswerQuestion">
	INSERT INTO short_answer_question
		(subject_name,question_title,question_answer,update_date,create_date)
	VALUE
		(#{subjectName},#{questionTitle},#{questionAnswer},NOW(),NOW())
	</insert>
</mapper>